{% extends "layout.html" %}
{% block body %}

<div style="width:300px;height:300px;margin:30px auto;">

	<table border="0" cellpadding="3" cellspacing="0">
		<tr>
			<th></th>
			<th id="t_up" class="button_ctl" style="background-image:url('/static/img/up.png');"></th>
		</tr>
		<tr>
			<th id="t_left" class="button_ctl" style="background-image:url('/static/img/left.png');"></th>
			<th id="t_stop" class="button_ctl" style="background-image:url('/static/img/stop.png');"></th>
			<th id="t_right" class="button_ctl" style="background-image:url('/static/img/right.png');"></th>
		</tr>
		<tr>
			<th></th>
			<th id="t_down" class="button_ctl" style="background-image:url('/static/img/down.png');"></th>
		</tr>
	</table>

</div>

{% endblock %}
